<IfModule mod_rewrite.c>

    # rewrite engine settings:
    RewriteEngine On
    RewriteBase /
    Options -Indexes

    # rewrite condition:
    RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$

    # rewrite rules:
    RewriteRule . index.php [NC,L]

</IfModule>