$colorPurple: #9a4dcb;
$colorYellow: #e0a559;
$colorGreen: #419d78;

body {
  margin: 0px;
  font-family: Helvetica, Arial sans-serif;
}

.header {
  display: grid;
  background: $colorPurple;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  letter-spacing: 5px;
}

h1 {
  color: white;
  font-size: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 0.85em 0.75em;
  margin: 30px;
  height: 50px;

  button {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 25px;
    margin-right: 25px;
    width: 20%;
    border: 3px solid;
    border-radius: 25px;

    &:hover {
      color: white;
    }
  }

  .take {
    color: $colorPurple;
    border-color: $colorPurple;

    &:hover {
      background-color: $colorPurple;
    }
  }

  .create {
    color: $colorYellow;
    border-color: $colorYellow;

    &:hover {
      background-color: $colorYellow;
    }
  }

  .manage {
    color: $colorGreen;
    border-color: $colorGreen;

    &:hover {
      background-color: $colorGreen;
    }
  }

}