$colorPurple: #9a4dcb;
$colorYellow: #e0a559;
$colorGreen: #419d78;
$height: 50px;
body {
  margin: 0px;
  font-family: Helvetica, Arial sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  padding-left: 25%;

  img {
    height: $height;
  }

  .text {
    padding-left: 30px;
    color: white;
    height: $height;
    line-height: $height;
    text-align: center;
  }

  &.purple {
    background-color: $colorPurple;
  }

  &.yellow {
    background-color: $colorYellow;
  }

  &.green {
    background-color: $colorGreen;
  }
}